.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
  margin-left: -10px; // Adjust for alignment

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: var(--secondary); // Using theme variables
    left: 30px;
    margin-left: -2px;
  }
}

.timeline-item {
  position: relative;

  h2 {
    color: var(--heading-color);
  }

  h3 {
    position: relative;
    margin-top: -10px;
    margin-bottom: 0;
    left: 30px;
    font-weight: normal;
  }

  .timeline-date {
    position: relative;
    left: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

