/*-- scss:defaults --*/

// copied from https://github.com/simonpcouch/website/blob/main/assets/simon.scss
$siteBgColorCustom: #F3F3EE;
$sidebarBgColorCustom: #ffff;
$textColorCustom: #17261E;
$sidebarTextColorCustom: #1F3329;

$headlineColorCustom: #2F4C3E;
$headingColorCustom: #427059;

$bodyLinkColorCustom: #427059;
$navLinkColorCustom: #427059;
$sidebarLinkColorCustom: #427059;

$footerTextColorCustom: #427059;

$buttonTextColorCustom: #fafaf5;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #5D987B;
$buttonHoverBgColorCustom: #558B71;
$borderColorCustom: #DDDDCF;